body {
	margin: 0;
}

#bottom {
	background-color: black;
	opacity: 0.8;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.containerlist {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.container {
	padding: 1rem;
	margin-top: 1rem;
	margin-left: 1rem;
	width: 200px;
	border: 1px solid black;
	border-radius: 1rem;
}

.containertask {
	background-color: #999;
}

.morecontainer {
	background-color: #AAA;
	cursor: pointer;
	height: 200px;
	text-align: center;
}

.box {
	padding: 1rem;
	background-color: white;
	border: 1px solid black;
	border-radius: 1rem;
	margin-top: 1em;
}

.morebox {
	background-color: #AAA;
	cursor: pointer;
	text-align: center;
}

.draggable {
	cursor: move;
	display: block;
}


.draggable.dragging {
	background-color: red;
}


.window {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	
	background-color: gray;
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 20%;
	right: 20%;
	border: 1px solid black;
	border-radius: 1rem;
	padding: 1em;
}

.window h1 {
	margin: 0px;
	margin-bottom: 10px;
}

.hidden {
	visibility: hidden;
}